/* src/pages/Project1.css */
.project-wrapper {
  padding: 2rem;
  text-align: center;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.chart-box {
  width: 100%;
  max-width: 400px;
}
